@import "../style/variables.import.less";
@import "../style/mixins.import.less";

/* Global */
html, body, #__blaze-root, #layout-main {
  height: 100%;
  margin: 0;
}
html {
  font-size: 14px;
  /*font-family: */
}
body {
  background: @ColorBackground;

}
#page {
  position: absolute;
  top: @HeaderHeight;
  left: @PanelWidth;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}


/* Account forms hack */
.at-form {
  .box;
  margin-top: 75px;

  .at-title {
    color: @ColorOSC;
  }
}