@import "../../style/variables.import.less";
@import "../../style/mixins.import.less";

.no-items {
  color: #AAA;
}

.docs {
  margin: 15px;
  .box

  .doc {
    background: #FFF;
    &:nth-child(odd) {
      background: #F3F3F3;
    }
  }
}