@import "../../style/variables.import.less";

#panel {
  position: absolute;
  top: @HeaderHeight;
  left: 0;
  bottom: 0;

  width: @PanelWidth;

  background: @ColorBgPanel;
  color: @ColorPanel;
}
